{{#if profile}}
  <img src="{{profile.pictureUrl}}">
{{/if}}

{{#if user}}
  <h1>
    Hello {{user.displayName}}
    |
    <div class='blue'>{{user.headline}}</div>
    <a href="/logout">Logout</a>
  </h1>
{{else}}
  <h1>
    <a href="/auth/linkedin">Login</a>
  </h1>
{{/if}}
